## some python data structures

* list: available everywhere we have py; stores values in order, indexed by number
* DataFrame: requires pandas (not available in all py installations); stores values in a table; index by number, column, etc (rows and columns have string indexes as well);spreadsheet

## dictionary

javascript: "object" (Map);PHP "associative array"; Map (C++)

series of key -> value pairs (like a 2-column spreadsheet?)

uses more memory than list

In [1]:
presidents = {"key":"value","name":"homeState","Obama":"Hawaii","Biden":"Penn"}
#the key needs to be unique. news values replaced the old ones

In [2]:
type(presidents)

dict

In [3]:
presidents

{'key': 'value', 'name': 'homeState', 'Obama': 'Hawaii', 'Biden': 'Penn'}

In [4]:
presidents["Obama"]

'Hawaii'

In [5]:
presidents["Penn"]

KeyError: 'Penn'

In [11]:
len(presidents)

4

In [9]:
presidents.keys()

dict_keys(['key', 'name', 'Obama', 'Biden'])

In [10]:
presidents.values()

dict_values(['value', 'homeState', 'Hawaii', 'Penn'])

* hash function??

In [12]:
"blahgh" in [4,7,8,9,5,17]

False

In [13]:
presidents

{'key': 'value', 'name': 'homeState', 'Obama': 'Hawaii', 'Biden': 'Penn'}

In [14]:
"Penn" in presidents #checks if key exists, instead of values

False

In [15]:
"Penn" in presidents.values()

True

In [16]:
presidents.items()

dict_items([('key', 'value'), ('name', 'homeState'), ('Obama', 'Hawaii'), ('Biden', 'Penn')])

In [18]:
["president "+k+" from "+v for k, v in presidents.items()]

['president key from value',
 'president name from homeState',
 'president Obama from Hawaii',
 'president Biden from Penn']

## representing tabular data in python with dictionaries

list of dictionaries. list of rows in a spreadsheet, dictionary: column + value for that row 

name        state    population
New York    NY       90000000
Los Angeles CA       40000000
Chicago     IL       30000000

[
    {"name":"New York","state":"NY","population":"90000000"},
    {"name":"Los Angeles","state":"CA","population":"40000000"},
    {"name":"Chicago","state":"IL","population":"30000000"},

]

In [33]:
cities=[
    {"name":"New York","state":"NY","population":90000000},
    {"name":"Los Angeles","state":"CA","population":40000000},
    {"name":"Chicago","state":"IL","population":30000000},
]

In [20]:
type(cities)

list

In [21]:
type(cities[0])

dict

In [22]:
dummy=cities[0]

In [23]:
dummy['population']

'90000000'

In [24]:
cities[0]["population"]

'90000000'

In [31]:
[item["population"] for item in cities]

['90000000', '40000000', '30000000']

In [34]:
sum([item["population"] for item in cities])

160000000

In [35]:
import pandas as pd
pd.DataFrame(cities)

          name state  population
0     New York    NY    90000000
1  Los Angeles    CA    40000000
2      Chicago    IL    30000000

## set
#### not subscriptable -> cant get value from index

In [36]:
fruits=set()

In [37]:
fruits.add("apple")
fruits.add("banana")
fruits.add("orange")

In [39]:
fruits  #set has curly brackets, list has square

{'apple', 'banana', 'orange'}

In [40]:
"apple" in fruits

True

In [41]:
"noodles" in fruits

False

In [44]:
fruit_salad=['apple', 'banana', 'orange','kiwi','rambutan',"apple"]

In [46]:
list(set(fruit_salad)) #remove duplicate stuff cuz set cant have same items

['orange', 'rambutan', 'kiwi', 'banana', 'apple']

## tuples

single,double,triple,quadruple

almost exactly the same as list

In [47]:
t = (1,2,3,4,5)

In [48]:
type(t)

tuple

In [49]:
t[4]

5

In [50]:
"cheese" in t

False

In [52]:
t.append(17) #can't change them after created

AttributeError: 'tuple' object has no attribute 'append'